# Comment

In [3]:
#a=3

In [ ]:
document sting

In [4]:
 """
... a is an int variable.
... This is another comment.
... """

'\na is an int variable.\nThis is another comment.\n'

String manipulation

In [5]:
a = 'bangla'

In [6]:
b = "desh"

In [7]:
a[0]

'b'

In [8]:
a[1]

'a'

In [9]:
a[1:4]

'ang'

In [10]:
a[:1]

'b'

In [11]:
a[:2]

'ba'

In [12]:
a[:3]

'ban'

In [13]:
a[2:]

'ngla'

In [14]:
a[4:]

'la'

In [15]:
a[-1]

'a'

The first two values can be accessed with a [: 2]. On the other hand, a [2:] means subtract the first two values. This means that Python will show the rest of the values except the first two. That's why with a [4:] we get the last two characters by omitting the first four characters. And a [-1] means show the first value from the end.

In [16]:
a = 'bangla'

In [17]:
 print('My favorite language is:', a)

My favorite language is: bangla

In [18]:
print('My favorite language is: %s' %a)

My favorite language is: bangla

Here we use the% s symbol, it is a string format symbol. There are different format symbols like% d for integers and% f for floats. % F is a very useful thing for us to show digits, especially up to a few cells after the decimal.

In [19]:
number = 436.15757823658945

In [20]:
print('%.2f' % number)

436.16

In [21]:
 print('%.4f' % number)

436.1576

In [22]:
 print('%.1f' % number)

436.2

In [25]:
a='He is'
b=' a boy'

In [26]:
a+b

'He is a boy'

In [28]:
a+'--'+ b

'He is-- a boy'

In [30]:
'-'.join((a,b))

'He is- a boy'

In [32]:
a.capitalize()

'He is'

In [33]:
a.upper()

'HE IS'

In [34]:
'BANGLA'.lower()

'bangla'

In [35]:
len('aaa')

3

In [36]:
sentence='we are leraning python'

In [38]:
sentence.count('r')

2

In [39]:
sentence.find('r')

4

In [40]:
 sentence.replace('a', 'd')

'we dre lerdning python'

In [41]:
sentence.split(' ')

['we', 'are', 'leraning', 'python']

# LIST

In [42]:
a = ['onion', 'potato', 'ginger', 'cucumber']

In [44]:
a

['onion', 'potato', 'ginger', 'cucumber']

In [45]:
b=[1,2,34,677]

In [46]:
b

[1, 2, 34, 677]

In [47]:
a[0]

'onion'

In [48]:
b[0]

1

In [49]:
b[1:5]

[2, 34, 677]

In [50]:
b[:5]

[1, 2, 34, 677]

In [51]:
b[2:]

[34, 677]

# Update LIST

In [52]:
b = ['onion', 'potato', 'ginger', 'cucumber', 1, 3.1416]

In [53]:
b[0] = 'rice'

In [54]:
b

['rice', 'potato', 'ginger', 'cucumber', 1, 3.1416]

In [55]:
b[4] = 570

In [56]:
b

['rice', 'potato', 'ginger', 'cucumber', 570, 3.1416]

In [57]:
b[6] = 'new'

IndexError: list assignment index out of range

In [58]:
b.append('new')

In [59]:
b

['rice', 'potato', 'ginger', 'cucumber', 570, 3.1416, 'new']

In [60]:
b.extend(['a', 'b', 'c'])

In [61]:
b

['rice', 'potato', 'ginger', 'cucumber', 570, 3.1416, 'new', 'a', 'b', 'c']

In [62]:
b.remove('rice')

In [63]:
b

['potato', 'ginger', 'cucumber', 570, 3.1416, 'new', 'a', 'b', 'c']

In [64]:
del b[-1]

In [65]:
b

['potato', 'ginger', 'cucumber', 570, 3.1416, 'new', 'a', 'b']

In [66]:
b.pop()

'b'

In [67]:
b.reverse()

In [69]:
b

['a', 'new', 3.1416, 570, 'cucumber', 'ginger', 'potato']

In [68]:
b

['a', 'new', 3.1416, 570, 'cucumber', 'ginger', 'potato']

In [70]:
a = [8, 3, 5, 1, 6, 2, 9, 7, 0, 4]

In [71]:
a.sort()

In [72]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [76]:
b = ['b', 'c', 'a', ]

In [77]:
b.sort()

In [78]:
b

['a', 'b', 'c']

# Tuple a type of list

In [79]:
a = ('onion', 'potato', 'ginger', 'cucumber')

In [80]:
a

('onion', 'potato', 'ginger', 'cucumber')

In [81]:
b = ('onion', 'potato', 'ginger', 'cucumber', 1, 3.1416)

In [82]:
b

('onion', 'potato', 'ginger', 'cucumber', 1, 3.1416)

In [83]:
b[1:5]

('potato', 'ginger', 'cucumber', 1)

In [84]:
b[:5]

('onion', 'potato', 'ginger', 'cucumber', 1)

In [85]:
 b + ('new',)

('onion', 'potato', 'ginger', 'cucumber', 1, 3.1416, 'new')

In [86]:
len(b)

6

SET

In [89]:
A = {'orange', 'banana', 'pear', 'apple'}

In [90]:
A

{'apple', 'banana', 'orange', 'pear'}

In [92]:
A.remove('banana')

In [93]:
A

{'orange', 'pear'}

# Dictionary

In [94]:
 a = {'name' : 'al-iqram elahee', 'nickname' : 'Hridoy', 'email' : 'aliqramalaheehridoy@gmail.com'}

In [95]:
a

{'name': 'al-iqram elahee',
 'nickname': 'Hridoy',
 'email': 'aliqramalaheehridoy@gmail.com'}

In [96]:
a['name']

'al-iqram elahee'

In [98]:
a['nickname']

'Hridoy'

In [99]:
a['name'] = 'John Doe'

In [100]:
a

{'name': 'John Doe',
 'nickname': 'Hridoy',
 'email': 'aliqramalaheehridoy@gmail.com'}

In [101]:
 a['hometown'] = 'Cumilla'

In [102]:
a

{'name': 'John Doe',
 'nickname': 'Hridoy',
 'email': 'aliqramalaheehridoy@gmail.com',
 'hometown': 'Cumilla'}

In [103]:
b = {'fav_poet' : 'Nazrul','fav_game':'football','hobby':'travelling'}

In [104]:
a.update(b)

In [105]:
a

{'name': 'John Doe',
 'nickname': 'Hridoy',
 'email': 'aliqramalaheehridoy@gmail.com',
 'hometown': 'Cumilla',
 'fav_poet': 'Nazrul',
 'fav_game': 'football',
 'hobby': 'travelling'}

In [ ]:
remove item

In [106]:
a

{'name': 'John Doe',
 'nickname': 'Hridoy',
 'email': 'aliqramalaheehridoy@gmail.com',
 'hometown': 'Cumilla',
 'fav_poet': 'Nazrul',
 'fav_game': 'football',
 'hobby': 'travelling'}

In [107]:
del a['hobby']

In [108]:
a.clear()

In [109]:
a

{}

In [112]:
a={'name': 'John Doe',
 'nickname': 'Hridoy',
 'email': 'aliqramalaheehridoy@gmail.com',
 'hometown': 'Cumilla',
 'fav_poet': 'Nazrul',
 'fav_game': 'football',
 'hobby': 'travelling'}

In [113]:
b= a.copy()

In [114]:
b

{'name': 'John Doe',
 'nickname': 'Hridoy',
 'email': 'aliqramalaheehridoy@gmail.com',
 'hometown': 'Cumilla',
 'fav_poet': 'Nazrul',
 'fav_game': 'football',
 'hobby': 'travelling'}

In [115]:
a.get('name')

'John Doe'

In [118]:
a.get('hometown')

'Cumilla'

In [120]:
'name' in a

True

In [121]:
'home' in a

False

In [122]:
a.items()

dict_items([('name', 'John Doe'), ('nickname', 'Hridoy'), ('email', 'aliqramalaheehridoy@gmail.com'), ('hometown', 'Cumilla'), ('fav_poet', 'Nazrul'), ('fav_game', 'football'), ('hobby', 'travelling')])

In [123]:
a.keys()

dict_keys(['name', 'nickname', 'email', 'hometown', 'fav_poet', 'fav_game', 'hobby'])

In [124]:
a.values()

dict_values(['John Doe', 'Hridoy', 'aliqramalaheehridoy@gmail.com', 'Cumilla', 'Nazrul', 'football', 'travelling'])